body {
    background-color: aliceblue;
    text-align: center;
}
img {
    border: 15px solid black;
    float: left;
    width: 17%; 

}
.content-1 {
    display: inline-block;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    padding: 0px 12px 7px 10px;
    border-radius: 10px;
    box-shadow: 12px 14px red;
}